.row
    .col.s12.m3
        
        
    .col.s12.m4
        a.waves-effect.waves-light.btn.app-button.block Empleados presentes
        a.waves-effect.waves-light.btn.app-button.block Entrada
        a.waves-effect.waves-light.btn.app-button.block Salida
        p(style="text-align: center")
            |Empleado Actual:
            br
            |Manager
            br
            |Empleado
        a.waves-effect.waves-light.btn.app-button.block Informe de produccion
        a.waves-effect.waves-light.btn.app-button.block Resumen de ventas
        a.waves-effect.waves-light.btn.app-button.block Objetivos de empleado
        a.waves-effect.waves-light.btn.app-button.block Mensajería interna
        a.waves-effect.waves-light.btn.app-button.block Alta producto