extends layout
block content
    #user-tab.col.s12
        include user
    #customer-tab.col.s12
        include customer
    #schedule-tab.col.s12
        include schedule
    #card-tab.col.s12
        include card
    #box-tab.col.s12
        include box
    #tpv-tab.col.s12
        include tpv
    #invoice-tab.col.s12
        include invoice
    #fast-change-tab.col.s12
        include fast