.row
    .col.s12.m4
        .input-field
            input#invoice.validate(type='text')
            label(for='invoice') Nº ticket
        a.waves-effect.waves-light.btn.app-button.block Buscar para factura
    .col.s12.m4.offset-m4
        a.waves-effect.waves-light.btn.app-button.block Crear factura
        a.waves-effect.waves-light.btn.app-button.block Crear albarán