extends layout

block content
	h1= title
	p Welcome to #{title}
	each entity, index in entities
		.circle
			.circle__inner
				.circle__wrapper
					.circle__content=`${entity.nomtipoEntidad}-${entity.idtipoEntidad}`