doctype html
html
    head
        title=title
        link(type='text/css', rel='stylesheet', href='/css/materialize.min.css', media='screen,projection')
        link(type='text/css', rel='stylesheet', href='/css/app.css', media='screen,projection')
        meta(name='viewport', content='width=device-width, initial-scale=1.0')
    body
    .containter
        .valign-wrapper
            .row
                form.col.s12(action='/entity', method='get')
                    .input-field
                        input#username.validate(type='text', name='user')
                        label(for='username') Usuario
                    .input-field
                        input#password.validate(type='password', name='password')
                        label(for='password') Contraseña
                    .input-field
                        input(type='submit', value='aceptar')
    script(src='/js/materialize.min.js')
