.row
    .col.s12.m4
        .input-field
            input#box-start.validate(type='text')
            label(for='box-start') Saldo inicial
        .input-field
            input#box-comment.validate(type='text')
            label(for='box-comment') Comentario
        a.waves-effect.waves-light.btn.app-button.block Abrir caja
    .col.s12.m4.offset-m4
        a.waves-effect.waves-light.btn.app-button.block Ingreso
        a.waves-effect.waves-light.btn.app-button.block Retirada
        a.waves-effect.waves-light.btn.app-button.block Gastos
        a.waves-effect.waves-light.btn.app-button.block Recuperar ticket
        a.waves-effect.waves-light.btn.app-button.block Devolver ticket
        a.waves-effect.waves-light.btn.app-button.block Imprimir ticket
        a.waves-effect.waves-light.btn.app-button.block Imprimir ticket regalo
        a.waves-effect.waves-light.btn.app-button.block Imprimir vale descuento        
        a.waves-effect.waves-light.btn.app-button.block Arqueo        
        a.waves-effect.waves-light.btn.app-button.block Apertura
        a.waves-effect.waves-light.btn.app-button.block Cierre
        a.waves-effect.waves-light.btn.app-button.block Transacciones