.row
    .col.s12.m4
        .input-field
            input#card.validate(type='text')
            label(for='card') ID tarjeta
    .col.s12.m4.offset-m4
        a.waves-effect.waves-light.btn.app-button.block Leer tarjeta
        a.waves-effect.waves-light.btn.app-button.block Tarjeta de cliente
        a.waves-effect.waves-light.btn.app-button.block Tarjeta de ragalo