#payment-app-modal.modal.modal-fixed-footer
	.modal-content
		.row.modal-row
			.col.s12.m12
				h3 Pago de ticket
		.row.modal-row
			.col.s12.m8
				h5.modal-subtitle Nombre del cliente
				h6=user.name
			.col.s12.m4
				.row.modal-row
					.col.s12.m6
						button.waves-effect.waves-light.btn.app-button.block Historial
					.col.s12.m6
						button.waves-effect.waves-light.btn.app-button.block Ficha del cliente
		.row.modal-row
			.col.s12
				h5.modal-subtitle Detalle de compra
				div(style="height: 30vh; overflow: auto")
					table.highlight#payment-app-modal-table
						thead
							tr
								th Empleado
								th Item
								th Tipo
								th Cantidad
								th Precio Unitario
								th Precio Total
						tbody
				.row
					.col.s12.m4
						h5.modal-subtitle Formas de pago
						.row(style="height: 21vh; overflow-y: auto")
							each paymentMethod in paymentMethods
								.col.s12.m3
									span.waves-effect.waves-light.btn.app-button.payment-method(data-id=paymentMethod.idtipoPago, title=paymentMethod.nomtipoPago)=paymentMethod.nomtipoPago
					.col.s12.m4
						ul.collection
							li.collection-item
								button.waves-effect.waves-light.btn.app-button Descuento
								span.secondary-content
							li.collection-item
								span DTO. CLIENTE
								span.secondary-content
							li.collection-item
								span REC. EQ. (RE)
								span.secondary-content
							li.collection-item
								span TOTAL
								span.secondary-content BS. 38
							li.collection-item
								span Recibido BS. 0
								span.secondary-content Pendiente BS. 38
					.col.s12.m4
						button.waves-effect.waves-light.btn.app-button.block.green Ticket + Ticket Regalo
						button.waves-effect.waves-light.btn.app-button.block.green Pagar
	.modal-footer
		a.modal-close.waves-effect.waves-red.btn-flat(href='#!') Cancelar
