#payment-app-modal.modal.modal-fixed-footer
	.modal-content
		.row
			h4 Modal Header
			p Detalle de compra
			.col.s12.m4(style="height: 30vh; overflow: auto")
				.row
					.col.s12
						table.highlight#payment-app-modal-table
							thead
								tr
									th Nombre
									th Tipo
									th Cantidad
									th Precio Unitario
									th Precio Total
							tbody
					.col.s12
						h6 Formas de pago
			.col.s12.m8
				
	.modal-footer
		a.modal-close.waves-effect.waves-green.btn-flat(href='#!') Agree
