#payment-app-modal.modal.modal-fixed-footer
	.modal-content
		h4 Modal Header
		p Detalle de compra
		table.highlight#payment-app-modal-table
			thead
				tr
					th Nombre
					th Tipo
					th Cantidad
					th Precio Unitario
					th Precio Total
			tbody
	.modal-footer
		a.modal-close.waves-effect.waves-green.btn-flat(href='#!') Agree
