.row
    .col.s12.m8
        .row
            .col.s12(style="height: 300px; overflow: auto; margin-bottom: 10px")
                each product, index in products
                    .product
                        .col.s12.m3
                            img(src=product.imgtipoProducto, style="width: 120px, height: 120px")
                            span=product.nomtipoProducto
            .col.s12
                .row
                    .col.s2.m1
                        a.waves-effect.waves-light.btn.app-button
                            i.material-icons home
                    .col.s2.m1
                        a.waves-effect.waves-light.btn.app-button
                            i.material-icons arrow_back
                    .col.s3.m2
                        span Inicio
                    .col.s12.m4
                        a.waves-effect.waves-light.btn.app-button Otros productos
                .row
                    .input-field.col.s12.m3
                        input#tpv-ean.validate(type='text')
                        label(for='tpv-ean') Nombre o EAN
    .col.s12.m4
        a.waves-effect.waves-light.btn.app-button.block Productos
        a.waves-effect.waves-light.btn.app-button.block Servicios
        a.waves-effect.waves-light.btn.app-button.block Marcas
        a.waves-effect.waves-light.btn.app-button.block Reducir stock
        a.waves-effect.waves-light.btn.app-button.block Recuperar ticket
        a.waves-effect.waves-light.btn.app-button.block Cambio rápido