.row
    .col.s12.m8
        .row
            .col.s12.products
                each product in products
                    .col.s12.m3.product
                        img(src=product.imgtipoProducto)
                        span=product.nomtipoProducto
            .col.s12
                .row
                    .col.s2.m1
                        a.waves-effect.waves-light.btn.app-button
                            i.material-icons home
                    .col.s2.m1
                        a.waves-effect.waves-light.btn.app-button
                            i.material-icons arrow_back
                    .col.s3.m2
                        span Inicio
                    .col.s12.m4
                        a.waves-effect.waves-light.btn.app-button Otros productos
                .row
                    .input-field.col.s12.m3
                        input#tpv-ean.validate(type='text')
                        label(for='tpv-ean') Nombre o EAN
    .col.s12.m4
        a.waves-effect.waves-light.btn.app-button.block Productos
        a.waves-effect.waves-light.btn.app-button.block Servicios
        a.waves-effect.waves-light.btn.app-button.block Marcas
        a.waves-effect.waves-light.btn.app-button.block Reducir stock
        a.waves-effect.waves-light.btn.app-button.block Recuperar ticket
        a.waves-effect.waves-light.btn.app-button.block Cambio rápido
        span#product-app-details(style="display: none")
            span(style="font-weight: bold") Nombre: 
            span#product-app-name
            br
            span(style="font-weight: bold") Precio: 
            span#product-app-price
            br
            span(style="font-weight: bold") Stock: 
            span#product-app-stock
            a#product-app-confirm.waves-effect.waves-light.btn.app-button.block Confirmar