.row    
    #product-list.col.s11.m8.products
        include products
    .col.s1.m1.product-controls
        a.waves-effect.waves-light.btn.app-button.product-control(data-go="up")
            i.material-icons keyboard_arrow_up
        a.waves-effect.waves-light.btn.app-button.product-control(data-go="down")
            i.material-icons keyboard_arrow_down
    .col.s12.m3
        a#product-app-refresh.waves-effect.waves-light.btn.app-button.block Productos
        a.waves-effect.waves-light.btn.app-button.block Servicios
        a.waves-effect.waves-light.btn.app-button.block Recuperar ticket
        a.waves-effect.waves-light.btn.app-button.block Cambio rápido
        span#product-app-details(style="display: none")
            span(style="font-weight: bold") Ítem:
            span#product-app-name(style="color: blue")
            br
            span(style="font-weight: bold") Precio:
            span#product-app-price
            br
            span(style="font-weight: bold") Stock:
            span#product-app-stock(style="color: green")
            a#product-app-confirm.waves-effect.waves-light.btn.app-button.block Confirmar
.row
    .col.s12
        .row
            .col.s2.m1
                a#product-app-go-top.waves-effect.waves-light.btn.app-button
                    i.material-icons home
            .col.s3.m2
                span Inicio
            .col.s12.m4
                a.waves-effect.waves-light.btn.app-button Otros productos
        .row.product-options
            .input-field.col.s12.m3
                input#tpv-ean.validate(type='text')
                label(for='tpv-ean') Nombre o EAN
            #category-list.col.s12.m5.categories
                each category in categories
                    .col.s12.m3
                        span.waves-effect.waves-light.btn.app-button.category(data-id=category.idtipoCategoria)=category.nomtipoCategoria
            .col.s1.m1.category-controls
                a.waves-effect.waves-light.btn.app-button.category-control(data-go="up")
                    i.material-icons keyboard_arrow_up
                a.waves-effect.waves-light.btn.app-button.category-control(data-go="down")
                    i.material-icons keyboard_arrow_down