.row
    .col.s12.m8(style="height: 490px; overflow: auto")
        .col.s3(style="height: 200px; background-color: black; color: white") usuario 1
        .col.s3(style="height: 200px; background-color: black; color: white") usuario 2
        .col.s3(style="height: 200px; background-color: black; color: white") usuario 3
        .col.s3(style="height: 200px; background-color: black; color: white") usuario 4
        .col.s3(style="height: 200px; background-color: black; color: white") usuario 6
        .col.s3(style="height: 200px; background-color: black; color: white") usuario 7
        .col.s3(style="height: 200px; background-color: black; color: white") usuario 8
        .col.s3(style="height: 200px; background-color: black; color: white") usuario 9
        .col.s3(style="height: 200px; background-color: black; color: white") usuario 10
        .col.s3(style="height: 200px; background-color: black; color: white") usuario 11
    .col.s12.m4
        a.waves-effect.waves-light.btn.app-button.block Empleados presentes
        a.waves-effect.waves-light.btn.app-button.block Entrada
        a.waves-effect.waves-light.btn.app-button.block Salida
        p(style="text-align: center")
            |Empleado Actual:
            br
            | #{user.name} #{user.lastName}
            br
            | #{user.role}
        a.waves-effect.waves-light.btn.app-button.block Informe de produccion
        a.waves-effect.waves-light.btn.app-button.block Resumen de ventas
        a.waves-effect.waves-light.btn.app-button.block Objetivos de empleado
        a.waves-effect.waves-light.btn.app-button.block Mensajería interna
        a.waves-effect.waves-light.btn.app-button.block Alta producto